#container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#init {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 10px;
  background-color: brown;
  width: 50px;
  height: 50px;
}